body{
    background-color: rgb(51, 255, 95);
}

.container{
    text-align: center;
    margin-top: 2%;
    background-color: rgb(129, 241, 221); 
}

.img{
    font-size: 1.7em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0.5em 1.5em;
    border: 0;
    border-radius: .1em;

    animation: slideMe 1s ease-in;
}

@keyframes slideMe {
    0%{
        transform: skewX(53deg) translateX(-500px);
    }
    60%{
        transform: translateX(0px);
    }
    62%{
        transform: skewX(0deg) translate(30px);
    }
    70%{
        transform: skew(-20deg);
    }
    80%{
        transform: skew(0deg) translate(0);
    }
    90%{
        transform: skew(-5deg);
    }
    100%{
        transform: skew(0deg);
    }
}