* {
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: rgb(233, 239, 233);
    height: 100px;
}

.navbar nav {
    padding: 45px;
}

.logo img {
    cursor: pointer;
    width: 100px;
    height: 100px;
}


.navbar nav li {
    float: left;
    list-style: none;
    font-size: 20px;
    padding: 0px 30px;
}

.navbar nav li a {
    text-decoration: none;
    color: black;
}


.main {

    /* background-color: rgb(50, 144, 167);*/
    width: 100vw;
    height: 100vh;
}

.contener {}

.InfoContiner {
    /* background-color: rgb(206, 90, 90);*/
    height: 80vh;
    width: 80vw;
    margin: 20px;
    display: flex;
    justify-content: space-around;
}

.devInFo {
    display: flex;
    justify-content: center;
    flex-direction: column;


}

.hello {
    font-size: 35px;
    font-weight: bold;
    margin-top: 30px;
}

.name {
    font-size: 30px;
    margin-top: 30px;
}

.about {
    font-size: 17px;
    margin-top: 30px;
}

.moreabout {
    font-size: 20px;
    margin-top: 25px;

}

.buttons {
    margin-top: 30px;
}

.buttons button {
    padding: 9px 14px;
    border-radius: 20px;
    color: white;
    background-color: rgb(4, 191, 54);
    font-weight: bold;
    Font size: 20px;
    margin: 3px;
    cursor: pointer;

}

.buttons button:hover {
    background-color: white;
    color: rgb(4, 191, 54);
}


.imgslider {
    width: 100%;
    height: 500px;
    cursor: pointer;
    background-image: url("man-with-laptop.png.png");
    background-size: 100% 100%;
    animation: changeImage 10s linear 3.3s infinite both;
}

@keyframes changeImage {
    20% {
        background-image: url("man-with-laptop.png.png");
        ;
    }

    60% {
        background-image: url("woman\ img.png");
        ;
    }

    100% {
        background-image: url("student-girl.png");
        ;
    }

}


.new {
    display: flex;
    list-style: none;
    background-color: rgb(255, 0, 128);
    color: white;


}

.new1 {
    background-color: rgb(255, 0, 128);
    margin: 50px;
    font-size: 30px;

}

.new1 li {
    font-size: 20px;
    color: black;

}

.new2 {
    background-color: rgb(255, 0, 128);
    margin: 50px;
    font-size: 30px;

}

.new2 li {
    font-size: 20px;
    color: black;

}

.new3 {
    background-color: rgb(255, 0, 128);
    margin: 50px;
    font-size: 30px;

}

.new3 li {
    font-size: 20px;
    color: black;

}






.text {
    background-color: rgb(111, 4, 4);
    margin: 00px;
    width: 100vw;
    height: 400px;
    display: flex;
    font-size: 20px;
    text-align: center;
}

.text1 {
    background-color: rgb(111, 4, 4);
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 35px;

}

.text2 {
    height: 400px;
    cursor: pointer;
}

.text3 {
    height: 400px;
    cursor: pointer;
}



.TemplateForm {
    background-color: rgb(255, 255, 255);
    height: 70vh;
    width: 80vw;
    margin: 50px 150px;
    display: flex;
    justify-content: space-around;
}

.InFo {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;

}

.hello1 {
    font-size: 35px;
    font-weight: bold;
    margin: 15px;

}

.name1 {
    font-size: 30px;
    margin: 15px;
}

.about1 {
    font-size: 17px;
    margin: 15px;
}

.moreabout1 {
    font-size: 20px;
    margin: 15px;
}

.buttons {
    margin-top: 30px;
}

.buttons button {
    padding: 9px 14px;
    border-radius: 20px;
    color: white;
    background-color: rgb(4, 191, 54);
    font-weight: bold;
    Font size: 20px;
    margin: 3px;
    cursor: pointer;

}

.buttons button:hover {
    background-color: white;
    color: rgb(4, 191, 54);
}


.pitureslider {
    width: 100%;
    height: 522px;
    cursor: pointer;
    background-image: url("boy.png");
    background-size: 100% 100%;
    animation: changePiture 8s linear 4s infinite;
}

@keyframes changePiture {
    20% {
        background-image: url("boy.png");
        ;
    }

    60% {
        background-image: url("young-man.png");
        ;
    }

}




.heading {
    margin-top: 0px;
    height: 40vh;
    background-color: rgb(122, 243, 201);
    text-align: center;
    font-size: 35px;

}

.heading li {
    margin-left: 0px;
    font-size: 20px;
    list-style: none;
    margin-top: 10px;

}

.boxtype {
    box-sizing: border-box;
    width: 100%;
    height: 80vh;
    background-color: rgb(255, 255, 255);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    flex-basis: 20%;
    background-color: rgb(3, 3, 3);
    margin-left: 100px;
    cursor: pointer;
}

.card :hover {
    transform: translateY(-20px);
    transition: 0.3s linear;
}

.card-title1 {
    width: 100%;
    height: 250px;
    background-color: rgb(244, 248, 19);
    background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(9, 226, 255, 0.5)), url("resume-template-1.png");
    background-size: cover;
    clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%);
}

.card-title2 {
    width: 100%;
    height: 250px;
    background-color: rgb(244, 248, 19);
    background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(244, 50, 50, 0.5)), url("resume-temp.png");
    background-size: cover;
    clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%);
}

.card-title3 {
    width: 100%;
    height: 250px;
    background-color: rgb(200, 255, 236);
    background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(251, 15, 231, 0.5)), url("resume-formats.webp");
    background-size: cover;
    clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%);
}


.card-body {
    padding: 15px;
    margin-right: 10px;
}

h2 {
    margin: 10px;
}

.tap1 {
    padding: 5px;
    background-color: rgba(9, 226, 255, 0.5);
    color: white;
    border: none;
    border-radius: 10px;
    margin: 20px 0;
}

.tap2 {
    padding: 5px;
    background-color: rgba(244, 50, 50, 1);
    color: white;
    border: none;
    border-radius: 10px;
    margin: 20px 0;
}

.tap3 {
    padding: 5px;
    background-color: rgba(251, 15, 231, 1);
    color: white;
    border: none;
    border-radius: 10px;
    margin: 20px 0;
}



.tital {
    background-color: rgb(255, 255, 255);
    margin: 50px;
    text-align: center;
}

.btn {
    padding: 10px;
    margin: 30px;
    border-radius: 20px;
    background-color: rgb(4, 191, 54);
    color: rgb(255, 255, 255);
}

.btn:hover {
    background-color: white;
    color: rgb(4, 191, 54);
}



.footer {
    background-color: rgb(141, 139, 139);
    height: 80px;
    width: auto;

}

.footer nav {
    padding: 20px;
}

.footer nav li {
    float: left;
    list-style: none;
    font-size: 15px;
    padding: 0px 20px;
}

.footer nav li a {
    text-decoration: none;
    color: white;
}

