.text {
    margin: 147px;
    width: 80vw;
    height: 400px;
    display: flex;
    font-size: 30px;
    text-align: center;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-family: 'Source Code Pro', monospace;
}

.sampale {
    background-color: rgb(255, 255, 255);
    

}

.sampale1 {
    background-color: rgb(255, 255, 255);
}

.sampale2 {
    background-color: rgb(255, 255, 255);
}

.sampale3 {
    background-color: rgb(255, 255, 255);
}

.sampale4 {
    background-color: rgb(255, 255, 255);
}

.sampale5 {
    background-color: rgb(254, 255, 253);
}